@page
@model DetailsModel

@{
    Layout = "AdminLayout";
}

<div class="index-page">
    <div style="margin-left: 50px">
        <h4>Chi tiết loại</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category.CategoryCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.CategoryCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category.CreateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.CreateDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category.UpdateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.UpdateDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category.UpdateBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.UpdateBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category.CreateBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.CreateBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Status)
            </dd>
        </dl>
        <div>
            <button id="btnEdit" class="btn btn-primary">Chỉnh sửa</button>
            <button id="btnBack" class="btn btn-secondary">Quay lại</button>
        </div>
    </div>
    <style>
        .index-page {
            padding-top: 100px; /* Điều chỉnh giá trị này để tạo khoảng trống */
        }
    </style>
    <script>
        document.getElementById('btnEdit').addEventListener('click', function () {
            var categoryId = @Model.Category.CategoryId;
            window.location.href = '/AdminPage/Edit?id=' + categoryId; // Điều chỉnh URL theo đúng routing của bạn
        });

        document.getElementById('btnBack').addEventListener('click', function () {
            window.location.href = '/AdminPage/Index'; // Điều chỉnh URL theo đúng routing của bạn
        });
    </script>
</div>
