@page
@model BaByBoi_Project.Pages.AdminPage.DeleteModel

@{
    Layout = "Shared/AdminLayout";
    ViewData["Title"] = "Delete";
}

<div class="index-page">
    <h3>Xóa tài khoản</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Password)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.CreateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.CreateDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.UpdateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.UpdateDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.BirthDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.BirthDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Role)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Role.RoleName)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="User.UserId" />
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirmDelete()"/> |
            <button id="btnBack" class="btn btn-secondary">Back</button>
        </form>
    </div>
    <script>
        document.getElementById('btnBack').addEventListener('click', function () {
            window.location.href = '/AdminPage/Index'; // Điều chỉnh URL theo đúng routing của bạn
        });
        function confirmDelete() {
            return confirm('Bạn có chắc chắn muốn xóa tài khoản này không?'); // Hộp thoại xác nhận
        }
    </script>
    <style>
        .index-page {
            margin-left: 40px;
            padding-top: 100px; /* Điều chỉnh giá trị này để tạo khoảng trống */
        }
    </style>
</div>