@page
@model BaByBoi_Project.Pages.AdminPage.DeleteModel

@{
    Layout = "AdminLayout";

}

<div class="index-page">
    <h3>Xóa tài khoản</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
            <dd class="col-sm-10">
                @(Model.User.Email ?? "N/A")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Password)
            </dt>
            <dd class="col-sm-10">
                @(Model.User.Password ?? "N/A")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Phone)
            </dt>
            <dd class="col-sm-10">
                @(Model.User.Phone ?? "N/A")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.FullName)
            </dt>
            <dd class="col-sm-10">
                @(Model.User.FullName ?? "N/A")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.CreateDate)
            </dt>
            <dd class="col-sm-10">
                @(Model.User.CreateDate != null ? Model.User.CreateDate.Value.ToString("yyyy-MM-dd") : "N/A")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.UpdateDate)
            </dt>
            <dd class="col-sm-10">
                @(Model.User.UpdateDate != null ? Model.User.UpdateDate.Value.ToString("yyyy-MM-dd") : "N/A")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.BirthDate)
            </dt>
            <dd class="col-sm-10">
                @(Model.User.BirthDate != null ? Model.User.BirthDate.Value.ToString("yyyy-MM-dd") : "N/A")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Gender)
            </dt>
            <dd class="col-sm-10">
                @(Model.User.Gender == 1 ? "Nam" : (Model.User.Gender == 2 ? "Nữ" : "N/A"))
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Role)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Role.RoleName)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="User.UserId" />
            <input type="submit" value="Xóa người dùng" class="btn btn-danger" onclick="return confirmDelete()" />
        </form>
    </div>
    <button style="margin-top: 5px" id="btnBack" class="btn btn-secondary">Quay lại</button>
    <script>
        document.getElementById('btnBack').addEventListener('click', function () {
            window.location.href = '/AdminPage/Index'; // Điều chỉnh URL theo đúng routing của bạn
        });
        function confirmDelete() {
            return confirm('Bạn có chắc chắn muốn xóa tài khoản này không?'); // Hộp thoại xác nhận
        }
    </script>
    <style>
        .index-page {
            margin-left: 40px;
            padding-top: 100px; /* Điều chỉnh giá trị này để tạo khoảng trống */
        }
    </style>
</div>