@page
@model BaByBoi_Project.Pages.AdminPage.IndexModel

@{
    Layout = "AdminLayout";

}
<div class="index-page">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h4 class="card-title">Quản lý tài khoản</h4>
            <div class="d-flex align-items-center" style="margin: 0 auto">
                <form asp-page-handler="SearchAccount" method="post" style="margin: 0 auto; display: flex; align-self: baseline">
                    <input class="form-control" style="
                                                    height: 40px;
                                                    border-radius: 10px;
                                                    width: 330px;
                                                    padding: 10px;" type="search" id="searchInput" asp-for="SearchValue" placeholder="Tìm kiếm" />
                    <button style="border-radius: 8px; margin-left: 22px;" type="submit" class="btn btn-info">Tìm kiếm</button>
                </form>
                <form method="post" asp-page-handler="ResetAccount">
                    <button style="border-radius: 8px; margin-left: 22px; color: white" type="submit" class="btn btn-warning">Làm mới trang</button>
                </form>
            </div>
            @* <button class="btn btn-primary btn-round ms-auto"
            data-bs-toggle="modal"
            data-bs-target="#addRowModal">
            <i class="fa fa-plus"></i>
            Thêm tài khoản mới
            </button> *@
            @*   <button id="btnAddAccount" class="btn btn-primary btn-round ms-auto">
            <i class="fa fa-plus"></i>
            Thêm tài khoản mới
            </button>

            <script>
            document.getElementById('btnAddAccount').addEventListener('click', function () {
            window.location.href = '/AdminPage/Create'; // Adjust the URL as per your routing setup
            });
            </script> *@
        </div>
    </div>
    @* <p>
    <a asp-page="Create">Create New</a>
    </p> *@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Tên đầy đủ
                </th>
                <th>
                    Trạng thái
                </th>
                <th>
                    Ngày sinh
                </th>
                <th>
                    Giới tính
                </th>
                <th>
                    Vai trò
                </th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.User)
            {
                <tr>
                    <td>
                        @(item.Email ?? "N/A")
                    </td>
                    <td>
                        @(item.Phone ?? "N/A")
                    </td>
                    <td>
                        @(item.FullName ?? "N/A")
                    </td>
                    <td>
                        @(item.Status == 1 ? "Hoạt động" : (item.Status == 2 ? "Bị xóa" : "Bị cấm"))
                    </td>
                    <td>
                        @(item.BirthDate != null ? item.BirthDate.Value.ToString("yyyy-MM-dd") : "N/A")
                    </td>
                    <td>
                        @(item.Gender == 1 ? "Nam" : (item.Gender == 2 ? "Nữ" : "N/A"))
                    </td>
                    <td>
                        @(item.Role?.RoleId == 1 ? "Quản trị viên" : (item.Role?.RoleId == 2 ? "Khách hàng" : "N/A"))
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.UserId">Chỉnh sửa</a> |
                        <a asp-page="./Details" asp-route-id="@item.UserId">Chi tiết</a> |
                        <a asp-page="./Delete" asp-route-id="@item.UserId">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="..." style="display: flex; justify-content: center">
        <ul class="pagination">
            @if (Model.User.PageIndex > 1)
            {
                <li class="page-item">
                    <a asp-route-PageIndex="@(Model.User.PageIndex - 1)" asp-route-SearchValue="@Model.SearchValue" class="page-link" tabindex="-1">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
            }
            @for (int i = 1; i <= Model.User.TotalPages; i++)
            {
                <li style="margin: 0 10px;" class="page-item @(Model.User.PageIndex == i ? "active" : "")"><a asp-route-PageIndex="@i" asp-route-SearchValue="@Model.SearchValue" class="page-link">@i</a></li>
            }
            @if (Model.User.PageIndex < Model.User.TotalPages)
            {
                <li class="page-item"><a asp-route-PageIndex="@(Model.User.PageIndex + 1)" asp-route-SearchValue="@Model.SearchValue" class="page-link">Next</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link">Next</a></li>
            }
        </ul>
    </nav>
    <style>
        .index-page {
            padding-top: 100px; /* Điều chỉnh giá trị này để tạo khoảng trống */
        }
    </style>
</div>
